.mk-u-subtitle {
    display: block;
    font-family: $body-font;
    font-size: 1rem;
}

@for $i from 0 through 5 {
    .mk-u-type-size--#{$i} {
        @include type-setting($i - 1);
    }
}

.mk-u-readable {
    max-width: $max-reading-line-length;
}