@import 
    '0_settings/index',
    '0_tools/index',
    
    '1_base/index',

    '2_elements/form',
    '2_elements/link',
    
    '3_objects/binary-control',
    '3_objects/grid',
    '3_objects/page-layout',
    
    '4_components/checkbox',
    '4_components/radio',
    '4_components/progress',
    '4_components/meter',
    '4_components/button',
    
    '5_utilities/visual',
    '5_utilities/layout',
    '5_utilities/spacing',
    '5_utilities/type';

    body > header {
        padding: $space;
    }
    main {
        padding: $space;
    }
    .-disabled h3 {
        text-decoration: line-through;
    }

    .mk-intro {
        background-color: map-get($map: $grays, $key: darker-50);
        color: white;
        padding: $space;
        @include type-setting(2);

        a {
            color: map-get($base-colors, yellow)
        }
 
    }