.lni-o-align-children--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lni-o-layout--aside-right {
    @include min-screen-width(sm) {
        display: flex;
        justify-content: flex-start;
        > * {
          padding: $space $space * 2;
          box-shadow: inset 2px 0 3px 0 hsla(0,0,0,.2);
        }

        > *:first-child {
        }
        > *:nth-child(2) {
            
        }
        > *:nth-child(3) {
            
        }
    }
}