.lni-o-align-children--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mk-o-page--filtered-collection {
    @include min-screen-width(md) {
        display: grid;
        //grid-template-areas: controls, collection;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: $space*2;
        
        .__controls {
    
        }
    }
}