.lni-o-align-children--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mk-o-page--filtered-collection {
    @include min-screen-width(sm) {
        display: grid; //grid-template-areas: controls, collection;
        grid-template-columns: minmax(12rem, 27rem) 1fr;
        grid-column-gap: $space*2;
        .__controls {}
    }
}
