.mk-checkbox {
    @include binary-control();
    
    > label:before {
        background-color: white;
        border-radius: 2px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 0 0 1px $minimum-contrast-gray;
    }
    input:checked + label:before {
        content: '\a0';
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22white%22%3E%3Cpath%20d%3D%22M6.41%200l-.69.72-2.78%202.78-.81-.78-.72-.72-1.41%201.41.72.72%201.5%201.5.69.72.72-.72%203.5-3.5.72-.72-1.44-1.41z%22%20transform%3D%22translate(0%201)%22%20%2F%3E%3C%2Fsvg%3E');
        background-repeat: norepeat;
        background-size: cover;
        background-color: $selected-color;
    }
    input:focus + label:before {
        box-shadow: 0 0 0 2px $focus-color; 
    }
    input[disabled] + label {
        text-decoration: line-through;
    }
}
