.mk-c-radio {
    padding-right: $space/2;
    @include binary-control();
    >label:before {
        content: '\a0'; // simulates a non-breaking space: http://stackoverflow.com/questions/190396/adding-html-entities-using-css-content
        background: white;
        border-radius: 50%;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 0 0 1px $gray-base;
    }
    input:checked+label:before {
        background: $selected;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), inset 0 0 0 .25em #fff, 0 0 0 1px $gray-base;
    }
    input:focus+label:before {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), inset 0 0 0 .25em #fff, 0 0 0 1px $gray-base, 0 0 0 3px $focus;
    }
}
